.all {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.app {
  width: 50%;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.memo {
  width: 50%;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 30px;
}

.add {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 45px;
}

.list {
  padding-top: 20px;
}

.item {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  background-color: #b5495b;
  margin-top: 20px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  /* width: 100%; */
  padding: 15px;
}
