.all {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #64363c;
}

p {
  font-weight: 500;
}
.app {
  width: 50%;
  padding: 20px;
  /* background-color: #9e7a7a; */
  border-left: 10px solid #9e7a7a;
  box-sizing: border-box;
}

.memo {
  width: 50%;
  padding: 20px;
  border-left: 10px solid #9e7a7a;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 30px;
}

.add {
  margin-top: 20px;
  background-color: #64363c;
  color: #fff;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 45px;
}

.list {
  padding-top: 20px;
}

.item {
  width: 100%;
  border-bottom: 2px solid #9e7a7a;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  background-color: transparent;
  border: 1px solid #b5495b;
  margin-top: 20px;
  color: #b5495b;
  /* border: 0; */
  border-radius: 5px;
  box-sizing: border-box;
  /* width: 100%; */
  padding: 15px;
}
